/*CSS INIT*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}



/*VARIABLES*/
:root{
    /*FUENTES*/
    --parrafo: 'Open Sans', sans-serif;
    --encabezado: 'PT Sans', sans-serif;

    /*COLORES*/
    --blanco: rgb(255, 255, 255);
    --negro: rgb(0, 0, 0);
    --cafe: #784d3c;
}



/*GENERALES*/
*{font-family: var(--parrafo);}
h1{font-size: 4rem;}
h2{font-size: 3.4rem;}
h3{font-size: 2.8rem;}
h4{font-size: 2.2rem;}
p{font-size: 1.8rem;}
a{text-decoration: none;}
h1,h2,h3,h4{font-family: var(--encabezado);}



/*UTILIDADES*/
.center{text-align: center;}
.flex-center{display: flex;align-items: center;justify-content: center;}
.c-white{color: var(--blanco);}