/*CSS INIT*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}



/*VARIABLES*/
:root{
    /*FUENTES*/
    --parrafo: 'Open Sans', sans-serif;
    --encabezado: 'PT Sans', sans-serif;

    /*COLORES*/
    --blanco: rgb(255, 255, 255);
    --negro: rgb(0, 0, 0);
    --cafe: #784d3c;
}



/*GENERALES*/
